.hemknapp{
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 40px; 
    margin-left:5px;
    margin-bottom:2px;

    
  
}

body{background-color: blue;}








@media screen and (max-width: 1200px) {body{background-color: rgb(211, 221, 22);
   
}
    
}

@media screen and (max-width: 900px) {
    body{
        background-color: firebrick;
   
}
    
}