body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.cube {
  width: 100px;
  height: 100px;
  background-color: #3498db;
  animation: move 4s linear infinite, transformToBall 4s ease-in-out infinite;
}

@keyframes move {
  0% {
    transform: translateX(-150px);
  }
  50% {
    transform: translateX(150px);
  }
  100% {
    transform: translateX(-150px);
  }
}

@keyframes transformToBall {
  0%,
  100% {
    border-radius: 0;
  }
  50% {
    border-radius: 50%;
  }
}
